<div class="container">
  <h1 class="font-weight-bold">New York Times News Feed</h1>
  <h5 class="color-grey">Type phrase below to search for articles</h5>
  <input (keydown.enter)="getArticles(0, query.value)" #query type="text" class="input-query"
         placeholder="Search news">
  <h3 *ngIf="articles.length > 0 && phrase.length > 0" class="mb-3">Results for '{{phrase}}':</h3>
  <div *ngIf="articles.length > 0; else loadingTemp" class="row no-gutters">
    <app-article class="col" [article]="articles[0]"></app-article>
    <div class="col col-thumbs">
      <ng-container *ngFor="let article of articles; let i = index">
        <app-article-thumb *ngIf="i > 0" (click)="setArticle(article)" [article]="article"></app-article-thumb>
      </ng-container>
    </div>
  </div>
  <ng-template #loadingTemp>
    <div class="loading">
      <app-loading *ngIf="isLoading; else noResultTemp"></app-loading>
      <ng-template #noResultTemp>
        No results for '{{phrase}}'
      </ng-template>
    </div>
  </ng-template>
  <div *ngIf="articles.length == 4" (click)="loadMore()" class="load-more">
    Load more
  </div>
  <div class="color-grey text-center w-100 my-5">Copyright (c) 2020 The New York Times Company. All Rights Reserved.
  </div>
</div>
